html, body, .container{
    margin: 0 auto;
    font-family: 'Open Sans';
}
table{
    width: 100%;
}
th{
    background: #273B47;
    color: white;
}
th{
    padding: 5px 10px;; 
    text-align: left;
}
td{
    padding:10px;
}
table, td, th{
    border: 1px solid #273B47;
    border-collapse: collapse;
}
.container {
    width: 800px;
    margin: auto;
    position: relative;
}
.content{
    justify-content:center;
    margin:20px 0   ;
    width: 800px;

    
}
.header{
    margin: 0 auto;
    background-color: #273B47;
    color: #fff;
    height: 60px;
    width: 100%
}
.header h1{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}
.header h2{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    margin: 0 auto;
    padding: 0 0 10px 0;
}
.titulo{
    background:#273B47;
    height: 40px;
    margin: 20px 0;
    border-radius: 40px;
}
.titulo h3{
    font-size: 20px;
    color: white;
    padding:10px;
    text-align: center
}
.footer{
    background: #273B47;
    padding: 10px 10px;
    color: white;
}